h1 {
  font-size: 4.0vmax;
  font-family: Arial, Helvetica, sans-serif;
}
.w3-xlarge{font-size:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-center{text-align:center!important}
.w3-margin{margin:16px!important}
.w3-jumbo{font-size:64px!important}
