body {
  font-family: 'Lato', sans-serif;
  font-size:10.0vw;
}
.arch-margin{margin:auto}
.w3-xlarge{font-size:24px}
.w3-padding-32{padding-top:32px;padding-bottom:32px}
.w3-padding-auto{padding:5vw}
.w3-center{text-align:center}
.w3-margin{margin:16px}