body {
  background: #f2f2f2;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: 9.5vmin;
  margin: 3rem;
}
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 6.0vmin;
  font-weight: 300;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.container {
  margin-top: 3rem;
  text-align: center;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
  }
.fa {
padding: 0.5rem;
  }

.w3-margin{margin:5vh}
.w3-xlarge{font-size:24px}
.w3-padding-32{padding-top:32px;padding-bottom:32px}
.w3-padding-auto{padding:5vw}
.w3-center{text-align:center}
.w3-margin{margin:16px}
