body {
  background: #f2f2f2;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: 9.5vmin;
  margin-bottom: 1.5rem;
}
h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 3.5rem;
  line-height: 3rem;
}
.container {
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}



a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;}

.w3-margin{margin:5vh}
.w3-xlarge{font-size:24px}
.w3-padding-32{padding-top:32px;padding-bottom:32px}
.w3-padding-auto{padding:5vw}
.w3-center{text-align:center}
.w3-margin{margin:16px}
