body {
  font-family: 'Nunito', sans-serif;
  font-size:7vmax;
  background-color: #f2f2f2;
}
.cent
{
  position: relative;
  text-align:center;
  margin:5vmax;
}

a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;}

.w3-margin{margin:5vh}
.w3-xlarge{font-size:24px}
.w3-padding-32{padding-top:32px;padding-bottom:32px}
.w3-padding-auto{padding:5vw}
.w3-center{text-align:center}
.w3-margin{margin:16px}
