body {
  background: #fafafa;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  margin-top: 0;
}
h1 {
  font-size: 9.5vmin;
  margin: 5vmin;
}
h2 {
  font-size: 3.5vmin;
  margin-bottom: 0.5vmin;
  color: gray;
}
h3 {
  font-size: 4.0vmin;
  line-height: 9vmin;
}

.container {
  margin-top: 3rem;
  text-align: center;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Director */
  .pulser {
    position: relative;
  }
  .pulse {
    position: absolute;
    left:50%;
    top: 40vh;
    margin-left:-20vmin;    
    width: 40vmin;
    height: 40vmin;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
  }
  .pulse0 {
    transform: scale(.25);
    background: #000;
    z-index: 3;
  }
  .pulse1 {
    border: 0.5rem solid #000;
    -webkit-animation: pulse1 4s linear infinite;
    -moz-animation: pulse1 4s linear infinite;
    animation: pulse1 4s linear infinite;    
  }
.pulse2 {
    border: 0.5rem solid #000;
    -webkit-animation: pulse2 4s linear infinite;
    -moz-animation: pulse2 4s linear infinite;
    animation: pulse2 4s linear infinite;    
  }

 /* moz */
  @-moz-keyframes pulse1 {
    0% { -moz-transform: scale(0); opacity: 0; }
    20% { -moz-transform: scale(0); opacity: 0; }
    40% { -moz-transform: scale(.1); opacity: .2; }
    60% { -moz-transform: scale(.3); opacity: .4; }
    100% { -moz-transform: scale(.5); opacity: 0; }
  }

  @-moz-keyframes pulse2 {
    0% { -moz-transform: scale(0); opacity: 0; }
    25% { -moz-transform: scale(.0); opacity: .7; }
    40% { -moz-transform: scale(.2); opacity: .5; }
    65% { -moz-transform: scale(.4); opacity: .3; }
    100% { -moz-transform: scale(.6); opacity: 0; }
  }
  /* webkit */
  @-webkit-keyframes pulse1 {
    0% { -webkit-transform: scale(0); opacity: 0; }
    20% { -webkit-transform: scale(0); opacity: 0; }
    40% { -webkit-transform: scale(.1); opacity: .2; }
    60% { -webkit-transform: scale(.3); opacity: .4; }
    100% { -webkit-transform: scale(.5); opacity: 0; }
  }

  @-webkit-keyframes pulse2 {
    0% { -webkit-transform: scale(0); opacity: 0; }
    25% { -webkit-transform: scale(.0); opacity: .7; }
    40% { -webkit-transform: scale(.2); opacity: .5; }
    65% { -webkit-transform: scale(.4); opacity: .3; }
    100% { -webkit-transform: scale(.6); opacity: 0; }
  }
/* End-Director */
a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.8;
  }
.fa {
  padding: 0.5rem;
  opacity: 0.6;
  }

.w3-margin{margin:5vh}
.w3-xlarge{font-size:24px}
.w3-padding-32{padding-top:32px;padding-bottom:32px}
.w3-padding-auto{padding:5vw}
.w3-center{text-align:center}
.w3-margin{margin:16px}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
